.btn.btn-default.navbar-btn{
	margin-left: 5px;
}
 
.navbar.navbar-inverse .container-fluid{
	width: 80%;
}

#cntforsignup {
	margin-top: 20px;
} 

.panel-body .btn.btn-primary {
	margin-top: 10px;
	margin-bottom: 30px;
}

#minimumcharacters {
	color: #777;
}

.thclass1 {
	width: 100px;
}

.thclass2 {
	width: 300px;
}

.thclass3 {
	width: 200px;
}

.container.tackle.view {
	width: 60%;
}

.col-md-7.col-md-offset-1 .btn.btn-default.pull-right {
	margin-right: 5px;
}