.btn.btn-default.navbar-btn{
	margin-left: 5px;
}
 
.navbar.navbar-inverse .container-fluid{
	width: 80%;
}

#cntforsignup {
	margin-top: 20px;
} 

.panel-body .btn.btn-primary {
	margin-top: 10px;
	margin-bottom: 30px;
}

#minimumcharacters {
	color: #777;
}

.thclass1 {
	width: 100px;
}

.thclass2 {
	width: 300px;
}

.thclass3 {
	width: 200px;
}

.container.tackle.view {
	width: 60%;
}

.col-md-7.col-md-offset-1 .btn.btn-default.pull-right {
	margin-right: 5px;
}


#codeTextarea{
	border: 1px solid #eee;
	border-radius: 5px;
	height: 510px;
	width: 95%;
}

.textAreaWithLines{
	line-height:120%;
	font-family: sans-serif;
	font-size:13px;
	background: #eee;
}

.textAreaWithLines textarea,.textAreaWithLines div{
	line-height:120%;
	font-family: sans-serif;
	font-size:13px;
	color:#777;
}

.lineObj{
	color:#777;
}

.row.complieError {
	margin-top: 10px;
}

#codeTextareaContainer {
	width: 100%;
}

.btn.btn-default.pull-right.runCode {
	margin-top: 15px;
	margin-right: 5px;	
}

.btn.btn-primary.pull-right.submitSolution {
	margin-top: 15px;
	margin-right: 5px;	
}