.btn.btn-default.navbar-btn{
	margin-left: 5px;
}
 
.navbar.navbar-inverse  .container-fluid{
	width: 80%;
}

#cntforsignup {
	margin-top: 20px;
} 

.panel-body .btn.btn-primary {
	margin-top: 16px;
	margin-bottom: 30px;
}

#minimumcharacters {
	color: #777;
}